.interet{
    ul{
        margin: 3vw 2vw;
        @media print{
            margin: 1vw 2vw;
        }
    }
    li{
        list-style: square inside;
    }
    a{
        color: $color-primary;
    }
}

#centredinteret{
    @media print{
        grid-column: 1;
        grid-row: 2/6;
        border-right: 2px solid $color-primary;
    }
}