.contact{
    padding: 1vw 2vw;
    li{
        list-style: none;
        margin: 2vw;
        @media print{
            margin: 0vw;
        }
        @media screen and (max-width: 500px){
            margin: 7vw;
        }
    }
    ul{
        display: flex;
        justify-content: center;
        @media print{
            flex-direction: column;
        }
        @media screen and (max-width: 500px){
            justify-content: space-around;
        }
    }
    a{
        text-decoration: none;
        color: $color-primary;
    }
    i{
        font-size: 2.5em;
    }
    &__print{
        display: none;
        @media print{
            display: block;
        }
        li{
            margin: 0.5vw 2vw;
            i{
                font-size: 1.3em;
            }
        }
        span{
            font-weight: bold;
        }
    }
    &__web{
        @media print{
            display: none
        }
    }
}

#contact{
    @media print{
        margin-top:0;
        grid-column: 1;
        grid-row: 1/2;
        background-color: transparent;
        border-right: 2px solid $color-primary;
    }
}