.etudes{
    @for $i from 1 through 3{
         &__#{$i}{
             background-color: $color-secondary;
             color: $text-color-secondary;
             padding: 1vw 2vw;
             margin: 1vw;
             border-radius: 1vw;
             box-shadow: $box-shadow;
             @media screen and (max-width: 900px){
                border-radius: 2vw;
            }
            @media screen and (max-width: 500px){
                border-radius: 3vw;
                padding: 3vw 6vw;
            }
         }
     }
}

.reveal-visible .etudes{
    @for $i from 1 through 3{
        &__#{$i}{
            animation: apparition-etudes $apparition-etudes-duration both;
            animation-delay: $apparition-etudes-delay * $i + $apparition-etudes-start;
            @media print{
                animation: none;
            }
        }
    }
}

#etudes{
    @media print{
        grid-column: 1;
        grid-row: 2/4;
    }
}