.exp{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2vw;
    margin:  2vw;
    @media screen and (max-width: 500px){
        grid-template-columns: 1fr;
    }
    @media print{
        font-size: 0.9em;
    }
    &__emploi{
        font-size: 1.4em;
        @media print{
            font-size: 1.1em;
        }
    }
    &__entreprise{
        font-size: 0.8em;
        margin-bottom: 2vw;
        @media print{
            margin-bottom: 0vw;
        }
        a{
            color: $color-tertiary;
            @media print{
                color: black;
            }
            &:hover{
                opacity: 0.5;
                transition: 150ms linear;
            }
        }
    }
    &__date{
        font-size: 0.9em;
        text-align: center;
        margin-bottom: 1.5vw;
        @media print{
            margin-bottom: 0.5vw;
        }
    }
    li{
        font-size: 0.8em;
        margin-left: 2vw;
        list-style: square inside;
    }
    @for $i from 1 through 3{
        &__#{$i}{
            background-color: $color-secondary;
            color: $text-color-secondary;
            box-shadow: $box-shadow;
            padding: 1vw 2vw 4vw;
            border-radius: 1vw;
            a{
                @media print{
                    color: white;
                }
            }
            @media screen and (max-width: 900px){
                border-radius: 2vw;
            }
            @media screen and (max-width: 500px){
                border-radius: 3vw;
                padding: 4vw 6vw 8vw;
            }
            @media print{
                box-shadow: none;
                padding: 1.1vw 2vw;
            }
        }
    }
}

.reveal-visible .exp{
    @for $i from 1 through 3{
        &__#{$i}{
            animation: apparition-exp $apparition-exp-duration both;
            animation-delay: $apparition-etudes-delay * $i + $apparition-exp-start;
            @media print{
                animation: none;
            }
            @media screen and (max-width: 500px){
                animation: apparition-etudes 1000ms both;
                animation-delay: $apparition-etudes-delay * $i + $apparition-exp-start;
            }
        }
    }
}

#experience{
    @media print{
        grid-column: 2;
        grid-row: 11/15;
    }
}