@keyframes apparition-exp{
    0%{
        transform: translateY(100%);
        opacity: 0%;
    }
    100%{
        transform: translateY(0);
        opacity: 100%
    }
}

@keyframes apparition-etudes{
    0%{
        transform: translateX(-100%);
        opacity: 0%;
    }
    100%{
        transform: translateX(0);
        opacity: 100%
    }
}

@keyframes apparition-header-info{
    0%{
        transform: translateX(-100%);
    }
    14%{
        transform: translateX(-60%);
    }
    25%{
        transform: translateX(-40%);
    }
    50%{
        transform: translateX(-11%);
    }
    60%{
        transform: translateX(-5%);
    }
    100%{
        transform: translateX(0);
    }
}

@keyframes slideLeftOut {
    from{
      transform: translateX(0);
    }to{
      transform: translateX(100%);
    }
}

@keyframes slideLeftIn {
    from{
      transform: translateX(-100%);
    }to{
      transform: translateX(0);
    }
}

@keyframes slideRightIn {
    from{
      transform: translateX(100%);
    }to{
      transform: translateX(0);
    }
}

@keyframes slideRightOut {
    from{
      transform: translateX(0);
    }to{
      transform: translateX(-100%);
    }
}

@keyframes loader{
    0%{
        opacity: 1; 
    }
    85%{
        opacity: 1; 

    }
    99%{
        z-index: 5;
    }
    100%{
        opacity: 0;
        z-index: -10;
    }
}

@keyframes loader-spinner{
    0%{
        transform: rotate(0deg); 
    }
    100%{
        transform: rotate(360deg);
    }
}