$color-primary: #293B5F;
$color-secondary: #47597E;
$color-tertiary: #DBE6FD;
$color-footer: #B2AB8C;

$text-color-secondary: white;

$box-shadow: 0 0 1vw grey;

$anim-start: 0ms;
$anim-delay: 300ms;

$apparition-exp-duration: 600ms;
$apparition-exp-start: 2000ms;
$apparition-etudes-duration: 600ms;
$apparition-etudes-delay: 300ms;
$apparition-etudes-start: 400ms;