@font-face {
    font-family: 'Raleway';
    src: url('./assets/fonts/Raleway/Raleway-Regular.ttf');
  }
  
@font-face {
    font-family: 'Lora';
    src: url('./assets/fonts/Lora/Lora-VariableFont_wght.ttf');
  }