.header{
    box-shadow: 0 0.8vw 1vw -1vw grey;
    background-color: white;
    width:100%;
    margin-bottom: 4vw;
    @media print{
      margin-bottom: 2vw;
    }
    &__info{
      display: flex;
      flex-direction: row-reverse;
      border-radius: 0 4.5vw 4.5vw 0;
      width: 35%;
      background-color: $color-primary;
      box-shadow: 0 0 1vw grey;
      color: white;
      margin-left:auto;
      margin: 1vw 0;
      padding: 1vw 0;
      animation: apparition-header-info 600ms both;
      animation-delay: 1400ms;
      @media screen and (max-width: 970px){
        width: 50%;
        border-radius: 0 5vw 5vw 0;
      }
      @media screen and (max-width: 770px){
        width: 60%;
        border-radius: 0 7vw 7vw 0;
      }
      @media screen and (max-width: 500px){
        width: 95%;
        border-radius: 0 15vw 15vw 0;
        margin-top: 0vw;
        margin-bottom: 0vw;
      }
      @media screen and (max-width: 327px){
        width: 97%;
        border-radius: 0 15vw 15vw 0;
      }
    }
    &__img{
      border-radius: 50%;
      box-shadow: 0 0 0.2vw white;
      margin: 0 1vw;
      width: 7vw;
      height: 7vw;
      object-fit: cover;
      @media screen and (max-width: 970px){
        width: 9vw;
        height: 9vw;
      }
      @media screen and (max-width: 770px){
        width: 12vw;
        height: 12vw;
      }
      @media screen and (max-width: 500px){
        width: 25vw;
        height: 25vw;
      }
    }
    @media print{
      box-shadow: none;
    }
    @media screen and (max-width: 500px){
      box-shadow: none;
      margin-bottom: 15vw;
    }
}
  
.nav{
    display:flex;
    justify-content: space-around;
    margin:1vw;
    animation: apparition-exp-header 400ms both;
    animation-delay: 1700ms;
    li{
      list-style: none;
      padding: 1vw;
    }
    &__link{
      color: black;
      text-decoration: none;
    }
    &__mobile{
      display: none;
      position: fixed;
      top:0;
      left:0;
      z-index: 10;
      background-color: $color-tertiary;
      width: 80%;
      height: 100%;
      box-shadow: 0vw 0vw 10vw 0vw black;
      transform: translateX(-100%);
      opacity: 0;
      transition: 300ms ease-in-out;
      li{
        font-size: 1.3em;
        padding: 1em 0;
        list-style: none;
        text-align: center;
        border-bottom: 1px solid black;
      }
      button{
        background-color: transparent;
        font-size: 1.5em;
        border: none;
        padding: 0.5em;
      }
      @media screen and (max-width: 500px){
        display:block;
      }
      &--view{
        @media screen and (max-width: 500px){
          transform: translateX(0%);
          opacity: 1;
          transition: 300ms ease-in-out;
        }
      }
    }
    &__responsiveButton{
      display: none;
      z-index: 3;
      position: -webkit-sticky;
      position: sticky;
      top: 1vw;
      font-size: 1.8em;
      background-color: transparent;
      border:none;
      margin: 2vw;
      @media screen and (max-width: 500px){
        display:block;
      }
    }
    @media print{
      display:  none;
    }
    @media screen and (max-width: 500px){
      display:none;
    }
}