.header{
    box-shadow: 0 0.8vw 1vw -1vw grey;
    background-color: white;
    width:100%;
    margin-bottom: 4vw;
    &__info{
      display: flex;
      flex-direction: row-reverse;
      border-radius: 0 4.5vw 4.5vw 0;
      width: 35%;
      background-color: $color-primary;
      box-shadow: 0 0 1vw grey;
      color: white;
      margin-left:auto;
      margin: 1vw 0;
      padding: 1vw 0;
      animation: apparition-header-info 600ms both;
      animation-delay: 1400ms;
      @media screen and (max-width: 970px){
        width: 50%;
        border-radius: 0 5vw 5vw 0;
      }
      @media screen and (max-width: 770px){
        width: 60%;
        border-radius: 0 7vw 7vw 0;
      }
      @media screen and (max-width: 500px){
        width: 95%;
        border-radius: 0 15vw 15vw 0;
      }
      @media screen and (max-width: 327px){
        width: 97%;
        border-radius: 0 15vw 15vw 0;
      }
    }
    &__img{
      border-radius: 50%;
      box-shadow: 0 0 0.2vw white;
      margin: 0 1vw;
      width: 7vw;
      height: 7vw;
      object-fit: cover;
      @media screen and (max-width: 970px){
        width: 9vw;
        height: 9vw;
      }
      @media screen and (max-width: 770px){
        width: 12vw;
        height: 12vw;
      }
      @media screen and (max-width: 500px){
        width: 25vw;
        height: 25vw;
      }
    }
    @media print{
      box-shadow: none;
    }
    @media screen and (max-width: 500px){
      box-shadow: none;
      margin-bottom: 15vw;
    }
}
  
.nav{
    display:flex;
    justify-content: space-around;
    margin:1vw;
    li{
      list-style: none;
      padding: 1vw;
    }
    &__link{
      color: black;
      text-decoration: none;
    }
    @media print{
      display:  none;
    }
    @media screen and (max-width: 500px){
      display:none;
    }
}