@import "/Utils/variables";
@import "/Utils/keyframes";
@import "/Base/font";
@import "/Base/general";
@import "/Layout/footer";
@import "/Layout/header";
@import "/Layout/loader";
@import "/Components/etudes";
@import "/Components/experience";
@import "/Components/formation";
@import "/Components/centreDinteret";
@import "/Components/logiciel";
@import "/Components/contact";
@import "/Components/carousel";
@import "/Components/carouselSlide";